<% include ../partials/header%>
    <div class="container">
<header class="jumbotron">
    <div class="container">
        <h1>Welcome to YelpCamp</h1>
        <h5>view all our hand-picked campgrounds from all around the world</h5>
            <p>
                <a  class="btn btn-primary btn-lg" href="/campground/new">Add new campgrounds</a>
            </p>
    </div>
</header>
    

<!-- <div class="row text-center" style="display:flex; flex-wrap: wrap">
<%campgrounds.forEach(function(campground){%>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
                <img src="<%=campground.image%>" alt="">
                <div class="caption">
                    <h3><%=campground.name %></h3>
                </div> 
                <p>
                    <a class="btn btn-primary" href="/campground/<%=campground._id%>">more info</a>
                </p> 
        </div>   
    </div>
<%})%>
</div>
<% include ../partials/footer%> -->


<div class="card" style="width: 18rem" >
    <%campgrounds.forEach(function(campground){%>
    <img src="<%=campground.image%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%=campground.name %></h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a href="/campground/<%=campground._id%>" class="btn btn-primary">more info</a>
    </div>
    <%})%>
  </div>
  <% include ../partials/footer%>